.navbar-logo {
    height: 50px; 
    width: auto;
    display: block;
  }

  .custom-navbar {
    background-color: rgba(255, 255, 255, 0.6);  /* Transparent white */
    backdrop-filter: blur(12px);                /* Optional, adds depth */
    -webkit-backdrop-filter: blur(12px);        /* Safari support */
    z-index: 1000;                               /* Make sure it's above the animated background */
  }
.navbar .nav-link {
    position: relative;
    color: #212529;
   /* padding-bottom: 1px;*/
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    margin-left: 2rem;
    font-family: 'lorna', sans-serif;
  }

  .navbar .nav-link:first-child {
    margin-left: 0;
  }
  
  .navbar .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #8f3931;
    transition: width 0.25s ease-in-out;
  }
  
  .navbar .nav-link:hover::after,
  .navbar .nav-link:focus::after {
    width: 100%;
  }
  
  .nav-link {
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    transform: scale(1.05);
  }

  

  @media (max-width: 768px) {
    .navbar .nav-link {
        margin-left: 0 !important;
        display: inline-block;
        text-align: center;
        width: auto;
      }
    
      .navbar .nav-link::after {
        left: 50%;
        transform: translateX(-50%);
      }
    


    }
